<div ng-controller="DivisonalChartsController as dc">
<md-grid-list md-cols="4" md-row-height="7:10" md-gutter="2px">
    <md-grid-tile ng-repeat="tile in dc.grid"
                  md-rowspan='{{tile.span.row}}'
                  md-colspan='{{tile.span.col}}'
                  class="zodiac">
        <md-grid-tile-header class="zodiac"><h3>{{tile.sign}}</h3></md-grid-tile-header>
        <md-content layout="column" class="zodiac">
            <span ng-repeat="zi in tile.infoList| orderBy: 'position'">
                <span style="font-size: larger; color: blue">{{zi.objectType}}</span>
                <span style="font-size: small">{{zi.position}}</span><br/>
            </span>
        </md-content>
    </md-grid-tile>
</md-grid-list>
</div>